<p>
  <strong>Name:</strong>
  <%= @comic.name %>
</p>
 
<p>
  <strong>Price:</strong>
  <%= @comic.price %>
</p>

<p>
  <strong>short_description:</strong>
  <%= @comic.short_description %>
</p>

<p>
  <strong>long_description:</strong>
  <%= @comic.long_description %>
</p>

<p>
  <strong>pages_count:</strong>
  <%= @comic.pages_count %>
</p>
<p>
  <strong>size:</strong>
  <%= @comic.size %>
</p>

<p>
  <strong>paid:</strong>
  <%= @comic.paid %>
</p>

<p>
  <strong>featured:</strong>
  <%= @comic.featured %>
</p>

<p>
  <strong>popular:</strong>
  <%= @comic.popular %>
</p>

<p>
  <strong>published:</strong>
  <%= @comic.published %>
</p>

<%= link_to 'Back', comics_path %>