<h3>Details of Images</h3>
<p><strong>Name:</strong>
<%= @sharedImage.original_image %>
<%= image_tag @sharedImage.original_image.to_s %>
<%= link_to 'Back', shared_images_path %>

<img src="<%= @sharedImage.original_image.thumb %>" /><br/>
<img src="<%= @sharedImage.original_image.compressed%>" /><br/>

</p>